@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 18px;
    align-items: center;

}

p {
    margin: 1%;
    clear: both;

}

label {
    font-style: normal;
    font-size: large;

}

h1 {
    align-items: center;
    margin: 5%;
}

h3 {
    align-items: center;
    margin: 5%;
}

input {
    padding: inherit;
}

table {
    margin: 3%;
    font-size: 150%;

}

td, th {
    padding: 10px;
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border: solid 1px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    font: 22px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

.form {
    color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 5%;
}
