<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
<head>
    <title>App weather</title>
</head>
<body>
<p></p>
<h1>Данные по погоде на сегодня:</h1>
<p></p>
<form action="showWeather" method="post" enctype="multipart/form-data">
    <div class="form">
        <p></p>
        <div>
            <table width="70%" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                <tr>
                    <td><label for="user">Ваше имя:</label></td>
                    <td><input type="text" name="user" id="user" th:value="${user}"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><label for="city">Введите город на английском языке:</label></td>
                    <td>
                        <input type="text" name="city" id="city" th:value="${city}"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><label><body>Должны быть введены или город или геоданные: </body></label></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><label for="longitude">Вводите только цифры без пробелов. Введите долготу:</label>&nbsp;</td>
                    <td>
                        <input type="text" name="longitude" id="longitude" th:value="${longitude}"/></td>
                    <td><label for="latitude">и широту:</label></td>
                    <td>
                        <input type="text" name="latitude" id="latitude" th:value="${latitude}"/></td>
                </tr>
                </tbody>
            </table>


            <p></p>
            <div>
                <input type="submit" value="Готово" name="submit" class="button"/>
            </div>
        </div>
    </div>
</form>

</body>
</html>



