<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App weather </title>
    <link th:href="@{/css/style.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
</head>
<body>
<h1>Погода сегодня:</h1>
<div>

    <table width="35%" border="0" cellspacing="5" cellpadding="5">
        <tbody>
        <tr>
            <td><label>Погода в городе:</label></td>
            <td><span th:text="${city}"></span></td>
        </tr>
        <tr>
            <td><label>Страна:</label></td>
            <td><span th:text="${country}"></span></td>
        </tr>
        <tr>
            <td><label>Температура:</label></td>
            <td><span th:text="${temperature}"></span></td>
        </tr>
        <tr>
            <td><label>Давление:</label></td>
            <td><span th:text="${pressure}"></span></td>
        </tr>
        <tr>
            <td><label>Влажность:</label></td>
            <td><span th:text="${humidity}"></span></td>
        </tr>
        <tr>
            <td><label>Осадки:</label></td>
            <td><span th:text="${rain}"></span></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>


